.app-wrapper {
    margin: 0 auto;

    width: 1500px;

    display: grid;

    grid-template-columns: 1fr 5fr;
    grid-template-rows: 60px 1fr;

    grid-template-areas: 
    'h h'
    'n c';

    grid-gap: 5px;
}

.app-wrapper-content {
        grid-area: c;
        background-color: rgb(44, 72, 82);
        border-radius: 10px;
        color: white;
        padding: 0;
}

/* .app-wrapper-content img {
    width: 100%;
    border-radius: 10px;
} */